* {
  background-color: #7159c1;
}

div {
  margin-bottom: 10px;
}


.dvm-button {
  color: #fff;
  background-color: green;
  border: none;
  height: 60px;
  line-height: 30px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
}

.dvm-button:hover {
  transform: scale(1.05);
}

.dvm-circle {
  margin: 5px;
  background-color: black;
  color: white;
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  line-height: 5px;
}

.dvm-circle-1 {
  margin: 5px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 50%;
}